@model MvcModelApp.tb_User
@{
    ViewBag.Title = "用户注册";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>@ViewBag.Title</h2>
@using(Html.BeginForm("Register",null,FormMethod.Post))
{
<table><tr><td>@Html.DisplayNameFor(x=>x.UserName)：</td><td>@Html.TextBoxFor(x=>x.UserName) @Html.ValidationMessageFor(x=>x.UserName)</td></tr>
    <tr><td>@Html.DisplayNameFor(x=>x.Age)：</td><td>@Html.TextBoxFor(x=>x.Age)@Html.ValidationMessageFor(x=>x.Age)</td></tr>
     <tr><td>@Html.DisplayNameFor(x=>x.Pwd)：</td><td>@Html.PasswordFor(x=>x.Pwd)@Html.ValidationMessageFor(x=>x.Pwd)</td></tr>
     <tr><td>@Html.DisplayNameFor(x=>x.RePwd)：</td><td>@Html.PasswordFor(x=>x.RePwd)@Html.ValidationMessageFor(x=>x.RePwd)</td></tr>
     <tr><td>@Html.DisplayNameFor(x=>x.Email)：</td><td>@Html.TextBoxFor(x=>x.Email)@Html.ValidationMessageFor(x=>x.Email)</td></tr>
     <tr><td>@Html.DisplayNameFor(x=>x.Remark)：</td><td>@Html.TextBoxFor(x=>x.Remark)@Html.ValidationMessageFor(x=>x.Remark)</td></tr>
     <tr><td colspan="2"><input type="submit" value="注册"/></td></tr>
</table>
}